NODE_ENV=development
APP_MODE=mock
PORT=3001
HOST=0.0.0.0
# Når ekte adaptere kobles på:
# OPPGAVEREGISTERET_API=https://data.brreg.no/oppgaveregisteret/api
# ENHETSREGISTERET_API=https://data.brreg.no/enhetsregisteret/api
# PUBLIC_HOST=rapporteringslos.krultra.no
